@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rubik:wght@600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    font-family: Rubik, sans-serif;
    --background-color: cyan   ;
}
body {
    background-color: var(--background-color);
    --font-color: #ffffff;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}