@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rubik:wght@600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    font-family: Rubik, sans-serif;
    --background-color: rgb(39, 42, 203);
    --background-color2: rgb(82, 85, 246);
    --background-color3: #ffffff;
    --background-color4: black;
    --text-color: black;
    --text-color2: white;
    --text-color3: red;
    --text-color4: rgb(82, 85, 246);
    
}
body {
    background-color: var(--background-color2);
    --font-color: #ffffff;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}