@import url(common.css);

.header {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid black;
}

.header div {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.conteiner ul {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;

}

.header_text {
    color: var(--font-color);
    font-size: 3rem;
    padding: 15px;
}

.header_logo {
    width: 200px;
    height: 100px;
    margin: 15px;
    border-radius: 27%;
}

li {
    color: var(--font-color);
    font-family: Rubik, sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    padding-top: 30px;
}

a {
    text-decoration: none;
    color: var(--font-color);
    background-color: var(--background-color);
    padding: 5px;
    border-radius: 10px;
}
a:hover {
    background-color: black;
    transition: 0.5s;
    border-radius: 10px;
}