.main_choice {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
}

.field_choice {
    width: 700px;
    height: 100px;
    text-align: center;
    
}
.radio_choice {
    
    margin: 25px;
}
.radio_text {
    color: var(--text-color2);
}
.description_choice {
    width: 500px;
    height: 300px;
}
.button_answer {
    background-color: var(--background-color4);
    color: var(--text-color2);
    font-size: 2rem;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
}
.button_answer:hover {
    background-color: var(--background-color3);
    color: var(--text-color);
    transition: 0.5s;
}